# SPDX-License-Identifier: MIT
#
# Example of a template of configuration file
#
{{ ansible_managed | comment }}
{{ "system_role:ci_testing" | comment(prefix="", postfix="") }}
[foo]
foo = {{ ci_testing_foo }}
bar = {{ ci_testing_bar }}
